<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
    <title>Chatbot 5000</title>
    <header id="title">Super Cool Chatbot Name</header>
    <main id="main">
    <body>
    <aside id="about">
        About Super Cool Chatbot:
    </aside>
    <aside id="filters">
        <h4> Input filters:</h4>
            <select form="input_form" name="input_filter" id="input_filter">
                {% for key in input_filters.keys() %}
                <option value = "{{key}}">{{key}}</option>
                {% endfor %}
            </select>
        <h4> Output filters:</h4>
            <select form="input_form" name="output_filter" id="output_filter">
                {% for key in output_filters.keys() %}
                <option value = "{{key}}">{{key}}</option>
                {% endfor %}
            </select>
            <select form="input_form" name="output_filter2" class="hidden" id="output_filter2">
                {% for key in output_filters.keys() %}
                <option value = "{{key}}">{{key}}</option>
                {% endfor %}
            </select>
            <select form="input_form" name="output_filter3" class="hidden" id="output_filter3">
                {% for key in output_filters.keys() %}
                <option value = "{{key}}">{{key}}</option>
                {% endfor %}
            </select>
    </aside>
        <article>
        <div id="output_box">
        {% if reply %}
        Chatbot5000 says: {{reply}}
        {% endif %}
        </div>
            <form id="input_form" action="{{ url_for('submit') }}" method="POST" class="submit">
                <div class="field">
                <input type="text" size="auto" name="submission" id="submission" placeholder="Type here to chat with Chatbot5000"/>
                </div>
            </form>
            <p></p>
            <a href="#" class="show_hide">Click here to see how this sentence was generated</a>
            <div class="slidingDiv">
                {% if sausage %}
                <h5>This is how the response <i>{{sausage.final_sentence}}</i> was made:</h5>
                <h5>You entered <i>"{{sausage.submission}}"</i>.</h5>
                <p>With the {{sausage.input_filter}} input filter, <i>{{sausage.final_seed}}</i> was chosen as the 'seed word'
                for our Markov Chain sentence generator.
                </p>
                {% endif %}
                {% if sausage.first_bigram %}
                <p>Then we used bigram probability to pick <i>{{sausage.first_bigram}}</i> as
                the first pair of words to feed out Markov Chain sentence generator.</p>
                {% endif %}
                {% if not sausage.first_bigram %}
                <p> A lexicon search did not return a likely next word,
                so a default response <i>{{sausage.final_sentence}}</i> was returned.
                </p>
                {% endif %}
                {% if sausage.unfiltered_chains %}
                <p> After feeding in <i>{{sausage.first_bigram}}</i>, the Markov
                Chain sentence generator returned {{sausage.chain_length}}
                sentences.</p>
                {%endif%}
                {% if "No Filter Selected" not in sausage.output_filters %}
                <p>The sentences were fed through these filters: {{sausage.output_filters}}
                </p>
                {% endif %}
                {% if sausage.unfiltered_chains%}
                <p> One sentence was randomly chosen from the final candidates. </p>
                {% endif %}
                <p>And that's how the <i>"{{sausage.final_sentence}}"</i> sausage was made!</p>
            </div>
        </article>
    </main>
        <footer>
            <p>Created by Corinne Hutchinson, Nathan Hubbell, and Joshua Frailey<br>
            View the source code on <a href="https://github.com/corinnelhh/chatbot">github</a>.<br>
            <a href="mailto:chatbot5000@gmail.com"> Email us.</a></p>
        </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='application.js') }}"></script>
    </body>
</html>