<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
    <title>Koanbot</title>
    <header id="title" align="center">Koanbot</header>
    <main id="main">
    <body>
    <aside id="about">
        <h4>About Koanbot:</h4>
        <p> Our bot is built with a Markov Chain 'brain'. To approximate
        the back-and-forth of a natural conversation, the bot uses
        the words in each input sentence as its base for the following response.
        If any input filters are selected, the 'seed' words are
        filtered, then passed along to the 'brain'. The brain generates a set
        of possible response sentences, using n-gram probability to build
        the sentence word-by-word. Once a set of candidate sentences have
        been generated, the candidate sentences are passed through any
        output filters that have been selected. If more than one candidate
        sentence remains after the filtering, one is chosen at random.
        </p>
    </aside>
    <aside id="filters">
        <h4> Input filters:</h4>
            <select form="input_form" name="input_filter" id="input_filter">
                {% for key in input_filters.keys() %}
                <option value = "{{key}}">{{key}}</option>
                {% endfor %}
            </select>
        <h4> Output filters:</h4>
            <select form="input_form" name="output_filter" id="output_filter">
                {% for key in output_filters.keys() %}
                <option value = "{{key}}">{{key}}</option>
                {% endfor %}
            </select>
            <select form="input_form" name="output_filter2" class="hidden" id="output_filter2">
                {% for key in output_filters.keys() %}
                <option value = "{{key}}">{{key}}</option>
                {% endfor %}
            </select>
            <select form="input_form" name="output_filter3" class="hidden" id="output_filter3">
                {% for key in output_filters.keys() %}
                <option value = "{{key}}">{{key}}</option>
                {% endfor %}
            </select>
    </aside>
        <article>
        <div id="output_box">
        {% if reply %}
        Chatbot5000 says: {{reply}}
        {% endif %}
        </div>
            <form id="input_form" action="{{ url_for('submit') }}" method="POST" class="submit">
                <div class="field">
                <input type="text" size="auto" name="submission" id="submission" placeholder="Type here to chat with Chatbot5000"/>
                </div>
            </form>
            <p></p>
            <a href="#" class="show_hide">Click here to see how this sentence was generated</a>
            <div class="slidingDiv">
                {% if sausage %}
                    {% for key, value in sausage.items() %}
                        {{value|safe}}
                    {% endfor %}
                {% endif %}
            </div>
        </article>
    </main>
        <footer>
            <p>Created by Corinne Hutchinson, Nathan Hubbell, and Joshua Frailey<br>
            View the source code on <a href="https://github.com/corinnelhh/chatbot">github</a>.<br>
            <a href="mailto:koanbot@gmail.com"> Email us.</a></p>
        </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='application.js') }}"></script>
    </body>
</html>